.col1 {
  margin-bottom: 1rem;
  margin-left: -1.4rem;
}

.col2 {
  margin-left: -3.2rem;
}

.dropdown1 {
  display: flex;
  justify-content: flex-start;
  border: 1px solid #939fa5;
  border-radius: 4px;
  width: 63%;
  background-color: #ffffff;
}
.dropdown2 {
  width: 45%;
  border: 1px solid #939fa5;
  border-radius: 4px;
  background-color: #ffffff;
}
.dropdown2:hover,
.dropdown1:hover {
  cursor: pointer;
  border: 1px solid #2196f3;
}

@media only screen and (max-width: 578px) {
  .toggleBtn {
    margin-left: -19rem;
    margin-top: 4.5rem;
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 578px) {
  .dropdownBtn {
    margin-left: 2.1rem;
  }
}
